<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

 <xi:include href="${tg.url('master/mymaster.html')}" />
<head>
  <title></title>
  <script src="${tg.url('/_pluggable/managepoll/javascript/page/voter/index.js')}"></script>
</head>

<body>

<div class="container"> 
	<div class="form-group ">
	<div class="col-sm-12">
		
		 <a href="#" class="btn btn-info" id = "addvoter" role="button"><span lang="oth">add_volunteer</span></a>
		
		
	</div>
</div>

 <table id="grid-data" class="table table-condensed table-hover table-striped">   
<thead>
	<tr>
		<th data-column-id="email" >email</th> 
		<th data-column-id="name" >name</th> 
		<th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
		
		
	</tr>
</thead>

</table>
</div>
</body>
</html>
