<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="${response.charset}" />
  <title py:if="False">Your generic title goes here</title>
  
  		<link rel="stylesheet" href="${tg.url('/_pluggable/managepoll/css/bootstrap-select.min.css')}"/>  
	  	<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/managepoll/css/bootstrap.min.css')}" />
	  	
	  	<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/managepoll/css/style.css')}" />
	  	
	  	<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/managepoll/css/bootstrap-combobox.css')}" />
  
	    <!-- Custom CSS -->
	    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/managepoll/css/sb-admin.css')}" />
	
	    <!-- Morris Charts CSS -->
	    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/managepoll/css/plugins/morris.css')}" />
	    
	    <!-- Custom Fonts -->
	    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/managepoll/font-awesome/css/font-awesome.min.css')}" />
		
		
  
		<link rel="stylesheet" href=" ${tg.url('/_pluggable/managepoll/javascript/jquery.bootgrid/jquery.bootgrid.css')}"/>
		<script src="${tg.url('/_pluggable/managepoll/js/bootstrap-select.js')}"/>
			 
	
  		<script src="${tg.url('/_pluggable/managepoll/javascript/bootstrap.min.js')}"></script>
  
   		<!-- jQuery -->
    	<script src="${tg.url('/_pluggable/managepoll/js/jquery.js')}"></script>

    	<!-- Bootstrap Core JavaScript -->
    	<script src="${tg.url('/_pluggable/managepoll/js/bootstrap.min.js')}"></script>
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
	
		
		
  
    	<script src="${tg.url('/_pluggable/managepoll/javascript/jquery.bootgrid/bootstrap-combobox.js')}"></script>
    	
    	<script src="${tg.url('/_pluggable/managepoll/javascript/jquery.bootgrid/jquery.bootgrid.js')}"></script>
		<script src="${tg.url('/_pluggable/managepoll/javascript/jquery.bootgrid/jquery.bootgrid.fa.js')}"></script>
		
		<script src="${tg.url('/_pluggable/managepoll/js/jquery.steps.min.js')}"></script>
		<script src="${tg.url('/_pluggable/managepoll/js/jquery.steps.js')}"></script>
		
		
		 <link rel="stylesheet" href="${tg.url('/_pluggable/managepoll/UI/css/jquery-ui.css')}"/>
  		 <script src="${tg.url('/_pluggable/managepoll/UI/js/jquery-ui.js')}"></script>
  	
		 <script src="//cdn.ckeditor.com/4.5.9/basic/ckeditor.js"></script>
		 
 		  <meta py:replace="select('*')"/>
 		
</head>

<body py:match="body" py:attrs="select('@*')">
 <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">My Template</a>
            </div>
            <!-- Top Menu Items -->
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                   
                    <li class="${('', 'active')[value_of('page') == 'index']}">
                    	<a href="${tg.url('/managepoll/index')}"><i class="fa fa-fw fa-dashboard"></i> Welcome</a>
                    	
                    </li>
                    
                  
                    
                    <li class="${('', 'active')[value_of('page') == 'surfvey']}">
                    	<a href="${tg.url('/managepoll/surfvey')}"><i class="fa fa-support fa"></i> Surfvey</a>
                    </li>
                 
              		                   
                    <li class="${('', 'active')[value_of('page') == 'login']}">
                    	<a href="${tg.url('/managepoll/login')}"><i class="glyphicon glyphicon-log-in"></i> Login</a>
                    </li>
                  
         
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
            <br/><br/><br/>
            <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb ">
                            <li class="active">
                            
                                <i class="glyphicon glyphicon-chevron-right"></i> Dashboard 
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                 
                
            
             <div class="container">
    <!-- Flash messages -->
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div py:if="flash" py:replace="Markup(flash)" />
        </div>
      </div>
    </py:with>

    <!-- Main included content -->
    <div py:replace="select('*|text()')"/>
  </div>
  
  
            
           </div>
        </div>

    </div>
    <!-- /#wrapper -->

 
    <!-- Morris Charts JavaScript -->
    <script src="${tg.url('/js/plugins/morris/raphael.min.js')}"></script>
    <script src="${tg.url('/js/plugins/morris/morris.min.js')}"></script>
    <script src="${tg.url('/js/plugins/morris/morris-data.js')}"></script>
    
    
    


    
</body>
</html>
