<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master/mymaster.html" />

<head>
  <title></title>

	
   	<script src="${tg.url('/_pluggable/managepoll/javascript/page/invitation/index.js')}"></script>
   	
   	
</head>
<body>
<form action="" method="post" role="form"  id = "" >   


</form>
<div class="form-group ">
	<div class="col-sm-12">
		
		 <a href="#" class="btn btn-info" id = "addinvitation" role="button"><span lang="oth">add_invitation</span></a>
		
		
	</div>
</div>
<table id="grid-data" class="table table-condensed table-hover table-striped">   
<thead>
	<tr>
	
		
		<th data-column-id="name_content" >Name Content</th> 
		<th data-column-id="subject" >Subject</th>
		<th data-column-id="from_name">From Name</th>
		<th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
	</tr>
</thead>
</table>



	
</body>
</html>



