<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  	<xi:include href="${tg.url('master/mymastertest.html')}" />
	<xi:include href="${tg.url('master/submenu.html')}" />

<head>
  <title></title>
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css"/>
  
  	<!-- BEGIN THEME STYLES -->
    <link href="${tg.url('/theme/assets/global/css/components.css')}" rel="stylesheet"/> 
	<link href="${tg.url('/theme/assets/global/css/plugins.css')}" rel="stylesheet" type="text/css"/>
	<link href="${tg.url('/theme/assets/admin/layout/css/layout.css')}" rel="stylesheet" type="text/css"/>

	
   	<script src="${tg.url('/_pluggable/managepoll/javascript/page/testnewtemplate/invitationindextest.js')}"></script>
   	
   	
</head>
<body>
<div class="main">
      <div class="container">
      	<div class="row service-box">
      		<div class="content-page">	      		
	      		<div class="row">
		      		 ${submenu()}		 	  
				  <div class="col-md-9 sidebar-content ">
				 		<div class="row">
							<div class="col-md-11">
								<form class="accountsetting-form form-horizontal form-bordered form-row-stripped" action="" method="post" id=""> 
									<div class="form-group">
										<h3 class="control-label pull-left"><span lang="oth">create_invitation</span></h3>
										<a href="#" class="btn btn-info pull-right" id = "addinvitation" role="button">
										<span lang="oth">add_invitation</span>
										</a>	
									</div>
									
										<div class="col-sm-12">
												
										</div>
										
									
									<table id="grid-data" class="table table-condensed table-hover table-striped">   
									<thead>
										<tr>		
											<th data-column-id="name_content" >Name Content</th> 
											<th data-column-id="subject" >Subject</th>
											<th data-column-id="from_name">From Name</th>
											<th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
										</tr>
									</thead>
									</table>									
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>



