<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

	<xi:include href="${tg.url('master/mymastertest.html')}" />
	<xi:include href="${tg.url('master/submenu.html')}" />

 

<head>
  <title></title>
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css"/>
  	
	<!-- BEGIN THEME STYLES -->
    <link href="${tg.url('/theme/assets/global/css/components.css')}" rel="stylesheet"/> 
	<link href="${tg.url('/theme/assets/global/css/plugins.css')}" rel="stylesheet" type="text/css"/>
	<link href="${tg.url('/theme/assets/admin/layout/css/layout.css')}" rel="stylesheet" type="text/css"/>
	
	<link rel="stylesheet" href="${tg.url('/_pluggable/managepoll/from-building-load/src/css/style.css')}"/>
	
	<script src="${tg.url('/_pluggable/managepoll/javascript/page/testnewtemplate/manageprojecttest.js')}"></script>
	
	
</head>
<body>
<div class="main">
      <div class="container">
      	<div class="row service-box">
      		<div class="content-page">
	      		
	      		<div class="row">
		      		 ${submenu()}
				 	  
				 	  
			 	  <div class="col-md-9 sidebar-content ">
				 		<div class="row">
							<div class="col-md-11">
								<form class="accountsetting-form form-horizontal form-bordered form-row-stripped" action="" method="post" id=""> 
									<input type ="hidden" name ="id_question_project" value="${questionproject.id_question_project}"/>
									<div class="form-group">
										<h3 class="control-label pull-left"><span lang="oth">create_question</span></h3>										
									</div>	
									
									<ul class="list-group">
							    		<li class="list-group-item"><div class="col-sm-2"><span lang="oth">project_name</span></div>${questionproject.name}</li>
							    		<li class="list-group-item"><div class="col-sm-2"><span lang="oth">project_type</span></div>${questionproject.question_project_type.description}</li>
							    		<li class="list-group-item">
							    		
							    		<div id="formBuilder"></div>
							    		</li>
						    	
						    		</ul>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
								
							
									


						  					    		

    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/libraries/dust-js/dust-core-0.3.0.min.js')}"></script>
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/libraries/dust-js/dust-full-0.3.0.min.js')}"></script>
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/libraries/dust-js/dust-helpers.js')}"></script>
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/libraries/tabs.jquery.js')}"></script>
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/formBuilder.jquery.js')}"></script>



    <script>

      $('#formBuilder').formBuilder({
        
        load_url: '/_pluggable/managepoll/from-building-load/src/json/example.json',
        save_url: 'savequestion'
        

      });

    </script>
  
</body>
</html>


