<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master/mymaster.html" /> 

 

<head>
  <title></title>
	<link rel="stylesheet" href="${tg.url('/_pluggable/managepoll/from-building-load/src/css/style.css')}"/>
	
	
	<script src="${tg.url('/_pluggable/managepoll/javascript/page/project/manageproject.js')}"></script>
	
</head>
<body>

	
<input type ="hidden" name ="id_question_project" value="${questionproject.id_question_project}"/>


  		<ul class="list-group">
    		<li class="list-group-item"><div class="col-sm-2"><b>Project ID </b></div>${questionproject.id_question_project}</li>
    		<li class="list-group-item"><div class="col-sm-2"><b>Project Name </b></div>${questionproject.name}</li>
    		<li class="list-group-item"><div class="col-sm-2"><b>Project Type </b></div>${questionproject.question_project_type.description}</li>
    		<li class="list-group-item">
    		
    		<div id="formBuilder"></div>
    		</li>
    	
    	</ul>			    		

    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/libraries/dust-js/dust-core-0.3.0.min.js')}"></script>
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/libraries/dust-js/dust-full-0.3.0.min.js')}"></script>
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/libraries/dust-js/dust-helpers.js')}"></script>
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/libraries/tabs.jquery.js')}"></script>
    <script src="${tg.url('/_pluggable/managepoll/from-building-load/src/formBuilder.jquery.js')}"></script>



    <script>

      $('#formBuilder').formBuilder({
        
        load_url: '/_pluggable/managepoll/from-building-load/src/json/example.json',
        save_url: '/savedata'
        

      });

    </script>
  
</body>
</html>


